body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 10px;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .pet-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Gap between pet cards */
  }
  
  .pet-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Make pet card a flex container */
  }
  
  .pet-card img {
    width: 150px; /* Adjust width as needed */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    margin-right: 20px; /* Space between image and content */
  }
  
  .pet-info {
    flex: 1; /* Content takes up remaining space */
    padding: 20px;
  }
  
  .pet-card h2 {
    margin-bottom: 10px;
  }
  
  .pet-details {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* Align pet info labels */
  }
  
  .pet-details span:first-child {
    font-weight: bold;
  }
  
  .adoption-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
  }
      